<!DOCTYPE html>
<html>
  <%- include('./patials/header.ejs') %>
  <body>
    <%- include('./patials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => {%>
          <a class="single" href="/blogs/<%= blog._id%>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %><p/>
          </a>
        <% }) %>
      <% } else { %>
        <P>There are No blogs to Display....</P>
      <% } %>
    </div>
    <%- include('./patials/footer.ejs') %>
  </body>
</html>
